body{
    background-color: aquamarine;
}


.titulo1{
    justify-content: center;
    text-align: center;
    color: blueviolet;
}

.paragrafo1{
	text-align: center;
    justify-content: left;
    text-align: left;
    color: green;
}