:root{

}

.titulo1{
    text-align: center;
}

body{
    background-color: aliceblue;
}

.titulo_lista{
    color: cadetblue;
    font-size: 50px;
}

.alimentos{
    font-size: 20px;
    background-color: cadetblue;
}